<?xml version="1.0" encoding="UTF-8"?>
<values>

<!-- 	<URL>http://13.250.32.216/ghost/#/signin</URL> -->
	<!-- <URL>https://eu.jotform.com/</URL> -->
	<URL>https://www.dell.com/en-in?c=in</URL>
	<!-- <NUMOFTHREADS>1</NUMOFTHREADS> -->

<!--	<IPPORT1>127.0.0.1:5570</IPPORT1>
	<IPPORT2>127.0.0.1:5565</IPPORT2>
	<IPPORT3>127.0.0.1:5563</IPPORT3>-->

	<!-- <IPPORT1>192.168.1.106:5570</IPPORT1>
	<IPPORT2>192.168.1.107:5563</IPPORT2>
	<IPPORT3>192.168.1.105:5565</IPPORT3>
	<IPPORT4>127.0.0.1:5567</IPPORT4>
	<IPPORT5>192.168.1.101:5578</IPPORT5>
	<IPPORT6>192.168.1.101:4723</IPPORT6>
	<IPPORT7>127.0.0.1:4726</IPPORT7> -->
	
<!-- 	<BROWSER1>GC</BROWSER1>
	<BROWSER2>IE</BROWSER2>
	<BROWSER3>FF</BROWSER3>
	<BROWSER4>EDGE</BROWSER4>
	<BROWSER5>MAC_SAFARI</BROWSER5>
	<BROWSER6>IOS_SAFARI</BROWSER6>
	<BROWSER7>ANDROIDCHROME2</BROWSER7> 
	
	<SELENIUMSERVER>3.6.0</SELENIUMSERVER>

	<MASTEREXCELPATH>Data/MASTERSHEET.xlsx</MASTEREXCELPATH>
	<TESTCASESEXCELPATH>Data/TESTCASES.xlsx</TESTCASESEXCELPATH>
	
	<SEQUENTIAL>True</SEQUENTIAL>-->

	
	
</values>